
label {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-large;
}

input {
    font-family: 'Roboto', sans-serif;
}

button, h3 {
    font-family: 'Barlow Condensed', sans-serif;
    
}

